
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container{
    padding-left: 7%;
    padding-right: 7%;
}
.navbar-nav {
    flex: 1;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.menu-icons {
    display: flex;
    align-items: center;
    border: 1.5px solid #D1CECE;
    padding: .8%;
    border-radius: 15px;
}

.navbar-brand {
    flex: 1;
}

.navbar-collapse {
    justify-content: center;
}

/* .button-styling {
    gap: 13%
} */

.heading-styling{
    color: #414042;
    font-family: Poppins, "Helvetica Neue",;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    
}

.heading-paragraph-styling{
    color: #414042;

    font-family: Poppins, "Helvetica Neue",;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
}


@media (max-width: 576px) {
    .ssheader-img {
        width: 60%;
    }

    

    .heading-styling{
        color: #414042;
        font-family: Poppins, "Helvetica Neue",;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        
    }

    .heading-paragraph-styling{
        font-size: 24px;  
    }
    
    .heading-paragraph-styling{
        color: #414042;
    
        font-family: Poppins, "Helvetica Neue",;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
    }
    

    .paratwo-styling{
        color: #414042;
    
        font-family: Poppins, "Helvetica Neue",;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        margin-top: 15%;
    }

    .parathree-styling{
        color: #414042;
    
        font-family: Poppins, "Helvetica Neue",;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        margin-top: 15%;
    }

 
}

.paratwo-styling{
    color: #414042;

    font-family: Poppins, "Helvetica Neue",;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    margin-top: 15%;
}


.parathree-styling{
    color: #414042;

    font-family: Poppins, "Helvetica Neue",;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    margin-top: 15%;
}

.accordion-item {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 10px;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    cursor: pointer;
}

.accordion-header:hover {
    background-color: #f8f9fa;
}

.accordion-icon {
    float: right;
    transition: transform 0.3s ease-in-out;
}
