
.navbar-nav {
    flex: .3;
    /* justify-content: center; */
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.menu-icons {
    display: flex;
    align-items: center;
    border: 1.5px solid #D1CECE;
    padding: .8%;
    border-radius: 15px;

}


.navbar-brand {
    flex: .7;
}

.navbar-collapse {
    justify-content: center;
}

.button-styling {
    gap: 13%
}


@media (max-width: 576px) {
    .ssheader-img {
        width: 60%;
    }

    .footer {
  
        padding-left: 0;
        padding-left: 0;
    }
}



.accordion-item {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 10px;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    cursor: pointer;
}

.accordion-header:hover {
    background-color: #f8f9fa;
}

.accordion-icon {
    float: right;
    transition: transform 0.3s ease-in-out;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.sidebar {
    flex: .5;
    min-width: 200px;
    max-width: 300px;
    padding: 20px;

}

.content {
    flex: 3;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
}


.log-in-button{
    border-radius: 5px;
    border: 1.5px solid #63AD7E;
    background-color: #fff;
    color: #222224;

    font-family: Hellix;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
}


.footer {
  
    padding-left: 6%;
    padding-left: 7%;
}



.footer a {
    color: #63AD7E;
    text-decoration: none;
}
.footer a:hover {
    color: #63AD7E;
}



.copyright{
/* margin-top:10%; */
border-top:1.5px solid #ABBBCC ;
}


.footer-social-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 10px;
}
.footer-social-icons a {
    color: #000;
    margin-right: 10px;
    font-size: 1.5rem;
    text-decoration: none;
}

.footer-column{
justify-self: start;
align-items: start;


}

.footer-social-icons a:hover {
    color: #63AD7E;
}
.footer-content {
    padding-top: 10px;
}
.footer-content h5 {
    margin-bottom: 20px;
    font-weight: bold;
}
.footer-content ul {
    list-style: none;
    padding: 0;
}
.footer-content ul li {
    margin-bottom: 10px;
}
.footer-content ul li a {
    color: #000;
    text-decoration: none;
}
.footer-content ul li a:hover {
    color: #63AD7E;
}
@media (max-width: 768px) {
    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-content .footer-column {
        flex: 0 0 48%;
        margin-bottom: 20px;
    }

    .footer {
  
        padding-left: 0;
        padding-left: 0;
    }
}



/* @media (max-width: 576px) {
    .header-img {
        width: 80px;
    }

} */